*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.vscode
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
debug.keystore
debug.keystore.base64
.build-outputs/
APK_DOWNLOAD/
.kotlin/
